[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
pandas = "*"
plotly = "*"

[dev-packages]
ipykernel = "*"
black = "*"
pylint = "*"
setuptools_scm = "*"
build = "*"

[requires]
python_version = "3.9"
